<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="{{url_for('static',filename='main.js')}}"></script>
<title>mainpage</title>
{% endblock %}

{% block main %}
<div class="container">
    <!-- sidebar -->
    <div class="am-u-md-3 am-u-sm-12 blog-sidebar">
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">cute</a>
            <a href="" class="blog-tag">baby</a>
            <a href="" class="blog-tag">tag</a>
            <a href="" class="blog-tag">laugh</a>
            <a href="" class="blog-tag">baby and cat</a>
            </div>
        </div>
        <br>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Favor</span></h2>
                <ul class="am-list">
                    <li><a href="#">Cat image1</a></li>
                    <li><a href="#">Cat image2</a></li>
                    <li><a href="#">Cat video1</a></li>
                    <li><a href="#">Cat video2</a></li>
                </ul>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- post start -->
    {% from 'post.html' import postblock%}
    {% for p in posts%}
    <div>
        {{ postblock(p) }}
    </div>
    {%endfor%}
    <!-- end post -->

</div>

{% endblock %}
