<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>homepage</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='amazeui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .btn .blog-tag .blog-clear-padding{
        background-color: #ae9773;
        }
        .am-u-md-3 {
            float:right;
        }

    </style>

</head>
<body>
<!-- nav start -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">iCat</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
                <li><a href="main.html">Main</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="Signin.html">logout</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">submit</button>
            </form>

        </div>
    </div>
</nav>
<!-- nav end -->
<!-- content srart -->
<div class="container">
    <div class="am-u-md-3 am-u-sm-12 blog-sidebar">
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">cute</a>
            <a href="" class="blog-tag">baby</a>
            <a href="" class="blog-tag">tag</a>
            <a href="" class="blog-tag">laugh</a>
            <a href="" class="blog-tag">baby and cat</a>
            </div>
        </div>
        <br>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Favor</span></h2>
                <ul class="am-list">
                    <li><a href="#">Cat image1</a></li>
                    <li><a href="#">Cat image2</a></li>
                    <li><a href="#">Cat video1</a></li>
                    <li><a href="#">Cat video2</a></li>
                </ul>
        </div>

    </div>
    {% from 'post.html' import post%}
    <div>
        {{ post() }}
    </div>
    <div>
        {{ post("pics/cutcat2.jpg","pics/av2.jpg") }}
    </div>
    <div>
        {{ post("pics/cutcat3.jpg","pics/av3.jpg") }}
    </div>

</div>
