<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<script type="text/javascipt">
function configureFirebaseLoginWidget() {
    var uiConfig ={
        'signInSuccessUrl':'/',
        'signInOptions':[
            firebase.auth.GoogleAuthProvider.PROVIDER_ID
        ],
        
    };
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    ui.start('#firebaseui-auth-container', uiConfig);
}
</script>
<h1>Sign In</h1>

<form action="" method="post" name="login">

    {{ form.hidden_tag() }}
    <p>
        Please enter your email: <br>
        {{ form.email(size=40) }}<br>
        Password: <br>
        {{ form.password(size=40) }}<br>
        {% if error  %}
        <br>
        <span style ="color: red;">[{{ error }}]</span>
        {% endif %}<br>
    </p>
    <p> {{ form.remember_me  }} Remember Me</p>
    <a href="javascript:configureFirebaseLoginWidget();"> Sign in with google account</a>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
