<!DOCTYPE html>

<html>
<head>
    <title>postimg</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='posting.css') }}">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='post.js') }}"></script>
</head>
<body>
    <div id="list">
        <div class="box clearfix">
            <a class="close" href="javascript:;">×</a>
            <img class="head" src="{{ url_for( 'static',filename='pics/av1.jpg' ) }}" alt="">
            <div class="content">
                <div class="main">
                    <p class="txt">
                        <span class="user">Andy：</span>Funny baby cat drinking milk again
                    </p>
                    <!-- pic file-->
                    <img class="pic" src="{{ url_for( 'static', filename='pics/cutcat1.jpg' ) }}" alt="">
                </div>
                <div class="info clearfix">
                    <!--pic file-->
                    <span class="time">02-14 23:01</span>
                    <a class="praise" href="javascript:;">Likes</a>

                </div>
                <div class="praises-total" total="4" style="display: block;">4 people likes it</div>

                <div class="comment-list">
                    <div class="comment-box clearfix" user="self">
                        <!-- avtar file-->
                        <img class="myhead" src="{{ url_for( 'static',filename='pics/av2.jpg' ) }}" alt="">
                        <div class="comment-content">
                            <p class="comment-text"><span class="user">Me：</span>Awosome</p>
                            <p class="comment-time">
                                2014-02-19 14:36
                                <a href="javascript:;" class="comment-praise" total="1" my="0" style="display: inline-block">1 Like</a>
                                <a href="javascript:;" class="comment-operate">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-box">
                    <textarea class="comment" autocomplete="off">Comment…</textarea>
                    <button class="btn ">Reply</button>
                    <span class="word"><span class="length">0</span>/140</span>
                </div>
            </div>
        </div>

        <div class="box clearfix">
            <a class="close" href="javascript:;">×</a>
            <img class="head" src="{{ url_for( 'static',filename='pics/av1.jpg' ) }}" alt="">
            <div class="content">
                <div class="main">
                    <p class="txt">
                        <span class="user">Momo：</span>cat2
                    </p>
                    <img class="pic" src="{{ url_for( 'static', filename='pics/cutcat2.jpg' ) }}" alt="">
                </div>
                <div class="info clearfix">
                    <span class="time">02-14 23:01</span>
                    <a class="praise" href="javascript:;">Likes
                    </a>
                </div>
                <div class="praises-total" total="0" style="display: none;"></div>
                <div class="comment-list">
                    <div class="comment-box clearfix" user="other">
                        <img class="myhead" src="{{ url_for( 'static',filename='pics/av3.jpg' ) }}" alt="">
                        <div class="comment-content">
                            <p class="comment-text"><span class="user">Coco：</span>I like it.</p>
                            <p class="comment-time">
                                2014-02-19 14:36
                                <a href="javascript:;" class="comment-praise" total="0" my="0">Likes</a>
                                <a href="javascript:;" class="comment-operate">Reply</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-box">
                    <textarea class="comment" autocomplete="off">Comment…</textarea>
                    <button class="btn ">Reply</button>
                    <span class="word"><span class="length">0</span>/140</span>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
