{% macro postblock(post) %}
<div class="row-float">
    <div class="postrow">
        <div class="col-sm-8">
            <a href="#">
                <!-- TODO picture source-->
                <img src="{{ post['pic_url'] }}" class="img-responsive img-box img-thumbnail", align"left">
            </a>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-6">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row-picture">
                        <a href="#" title="user1">
                            <!-- TODO avtar source-->
                            <img class="circle img-thumbnail img-box" src="{{ post['avtar_url'] }}" alt="sintret">
                        </a>
                    </div>
                    <div class="row-content">
                        <!--div class="list-group-item-heading">
                            <a href="#" title="sintret">
                                <small>sintret</small>
                            </a>
                        </div-->
                        <p>
                            <small>
                                <!--TODO post information-->
                                <i class="glyphicon glyphicon-time">{{ post['time'] }} via </i> 
                                <span class="twitter"> 
                                    <i class="fa fa-twitter"></i> 
                                    <a target="_blank" href="https://twitter.com/sintret" alt="sintret" title="sintret">@{{post['author']}}</a>
                                </span>
                            </small>
                        </p>
                        <p>
                        <!--TODO post context-->
                        <h4><a href="#">"{{ post['context'] }}"</a></h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro%}
