<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>postvideo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/css/postimg.css">
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <script type="text/javascript" src="assets/js/post.js"></script>

</head>
<body>
<div id="list">
  <div class="box clearfix">
      <a class="close" href="javascript:;">×</a>
      <img class="head" src="images/1.jpg" alt="">
      <div class="content">
          <div class="main">
              <p class="txt">
                  <span class="user">Andy：</span>Funny baby cat drinking milk again
              </p>
              <iframe width="420" height="280" src="https://www.youtube.com/embed/XMUYoiUlutM" frameborder="0" allowfullscreen></iframe>

          </div>
          <div class="info clearfix">
              <span class="time">02-14 23:01</span>
              <a class="praise" href="javascript:;">Likes</a>

          </div>
          <div class="praises-total" total="4" style="display: block;">4 people likes it</div>
          <div class="comment-list">
              <div class="comment-box clearfix" user="self">
                  <img class="myhead" src="images/my.jpg" alt="">
                  <div class="comment-content">
                      <p class="comment-text"><span class="user">Me：</span>Awosome</p>
                      <p class="comment-time">
                          2014-02-19 14:36
                          <a href="javascript:;" class="comment-praise" total="1" my="0" style="display: inline-block">1 Like</a>
                          <a href="javascript:;" class="comment-operate">Delete</a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="text-box">
              <textarea class="comment" autocomplete="off">Comment…</textarea>
              <button class="btn ">Reply</button>
              <span class="word"><span class="length">0</span>/140</span>
          </div>
      </div>
  </div>
</div>
</body>
</html>
